<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_1024_768_River.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,168},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>boat.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,782},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bridge_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{164,90}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,90}}</string>
                <key>sourceSize</key>
                <string>{164,114}</string>
            </dict>
            <key>bridge_3_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{164,90}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,90}}</string>
                <key>sourceSize</key>
                <string>{164,114}</string>
            </dict>
            <key>bridge_3_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,312},{164,90}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,90}}</string>
                <key>sourceSize</key>
                <string>{164,114}</string>
            </dict>
            <key>bridge_3_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{164,90}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,90}}</string>
                <key>sourceSize</key>
                <string>{164,114}</string>
            </dict>
            <key>bridge_3_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{164,90}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,90}}</string>
                <key>sourceSize</key>
                <string>{164,114}</string>
            </dict>
            <key>bridge_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bridge_4_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bridge_4_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,296},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bridge_4_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,298},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bridge_4_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,746},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bridge_4_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,584},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bridge_blue_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_blue_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_blue_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_blue_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,866},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,764},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_green_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,662},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_green_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,206},{100,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_green_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,204},{100,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_green_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,152},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_h_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,266},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_h_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,104},{100,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_h_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,458},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_h_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,560},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_h_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,304},{100,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,866},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_orange_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,764},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_orange_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,662},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_orange_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_orange_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,164},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_red_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,266},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_red_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,458},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_red_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,560},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_red_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,872},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,770},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,668},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,458},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_v_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,566},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_v_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,164},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_v_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,164},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_v_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,168},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bridge_v_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>house.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,346},{74,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>house_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,508},{72,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>house_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,492},{72,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>house_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,560},{74,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>house_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,582},{74,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>house_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,428},{74,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>octopus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,104},{46,76}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,76}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>octopus1_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,258},{44,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,80}</string>
            </dict>
            <key>octopus1_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,212},{44,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,80}</string>
            </dict>
            <key>octopus1_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,166},{44,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,80}</string>
            </dict>
            <key>octopus1_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,304},{40,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,76}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>octopus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,478},{78,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>octopus3.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,84},{74,80}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>octopus4.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,396},{78,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>octopus5.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{74,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,104},{46,76}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,76}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>player1_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,968},{46,76}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,76}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>player1_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,104},{46,76}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,76}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>player1_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,974},{46,76}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,76}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>player1_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,974},{46,76}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,76}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>river_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,720},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>river_h_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{274,22}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{274,22}}</string>
                <key>sourceSize</key>
                <string>{330,30}</string>
            </dict>
            <key>river_h_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,270},{82,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{82,24}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>river_h_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,460},{122,14}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{122,14}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>river_h_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,678},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>river_h_nb.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,628},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>river_h_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,628},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>river_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,658},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>river_v_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,308}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{28,308}}</string>
                <key>sourceSize</key>
                <string>{30,330}</string>
            </dict>
            <key>river_v_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,270},{26,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{26,84}}</string>
                <key>sourceSize</key>
                <string>{30,90}</string>
            </dict>
            <key>river_v_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,168},{24,126}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{24,126}}</string>
                <key>sourceSize</key>
                <string>{30,150}</string>
            </dict>
            <key>river_v_bl.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,616},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>river_v_br.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,566},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>river_v_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,566},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>river_v_nb.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,628},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>river_v_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,630},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>river_v_tl.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,568},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>river_v_ul.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,554},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>river_v_ur.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,492},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>subway.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,402},{90,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>subway_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,396},{90,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>subway_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,306},{90,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>subway_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,368},{90,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>subway_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,368},{90,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>teleport.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,350},{44,80}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{44,80}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>teleport_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,268},{44,80}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{44,80}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>teleport_blue_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,460},{80,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>teleport_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,186},{44,80}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{44,80}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>teleport_green_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,908},{80,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>teleport_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,908},{80,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>teleport_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,104},{44,80}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{44,80}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>teleport_orange_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,478},{80,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>teleport_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,968},{44,80}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{44,80}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>teleport_red_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,478},{80,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,486},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bridgesprites-ipadhd.pvr.gz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13fd7ab18854f153bdae2159cedc03f2$</string>
            <key>textureFileName</key>
            <string>bridgesprites-ipadhd.pvr.gz</string>
        </dict>
    </dict>
</plist>
