body {
    background: #E9E7E0;
    color: #000;
    font-size: 20px;
    line-height: 24px;
    font-family: "ff-basic-gothic-web-pro", Verdana,Arial,Sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

a, a:link, a:visited {
    text-decoration: none;
    color: rgb(0, 131, 192);
}

a:hover {
    text-decoration: underline;
}

#canvas {
    background: #F8F8F8;
    border: thin solid #E9E9E9;
    border-radius: 12px;
    position: relative;
    left: 50px;
    margin-top: 28px;
}

#nocanvas {
    background: none repeat scroll 0 0 #FFFFE0;
    border-color: #E6DB55;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    line-height: 28px;
    margin: 25px auto;
    padding: 1em;
    width: 450px;
    text-align: center;
}

#container {
    position: relative;
    
    padding: 25px;
    background: white;
}

#expl {
    position: absolute;
    top: 5px;
    right: 25px;
    width: 150px;
    color: #fff3c9;
}

#attribution {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

#editContainer {
    position: relative;
    display: none;
}

#run {
    position: absolute;
    top: 15px;
    right: 50px;
    z-index: 50;
}

#editContainer {
    height: 100%;
    width: 90%;
}

.weak {
    font-weight: normal;
    font-size: 0.85em;
    color: gray;
    font-size: 14px;
    margin-left: 0.5em;
}

img{
  max-width:100%;
  height:auto;
}

.table { 
    width: 480px;
    margin: 0 auto;
}

.table td, .table th {
	padding: 4px 10px;
    text-align: left;
}
.table th {
    background-color: #ECECEC;
}

span.level {
    display: inline-block;
    padding: 1em;
    position: relative;
}

span.level span {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font-size: 24px;
}

#credits {
position: relative;
    
padding: 25px;
background: white;
	
}

div.left {
	display: inline-block;
	width: 48%;
}

div.right {
	float: right;
	width: 40%;
}

h2 {
	font-size: 24px;
	margin-bottom: 0.5em;
	margin-top: 0px;
}
